name: typescript generator

on:
  pull_request:
    types:
      - closed
    branches:
      - master

jobs:
  typescript-generator:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: tools/typescript-generator
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Git config
        run: |
          git config --global user.email "cd-user@email.com"
          git config --global user.name "cd-user"
      - name: Install
        run: npm ci
      - name: Generate
        run: npm start
      - name: Commit changes
        run: |
          cd ../../
          git add .
          git diff-index --quiet HEAD || (git commit -m "Update typescript model" && git push)
